body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #dfe6e9;
}

.cv {
    display: flex;
    max-width: 950px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* LEFT */
.left {
    width: 35%;
    background: #0f3d3e;
    color: #fff;
    padding: 25px;
}

.avatar-box {
    text-align: center;
    margin-bottom: 30px;
}

.avatar-box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
}

.avatar-box h2 {
    margin: 10px 0 5px;
}

.block {
    margin-bottom: 25px;
}

.block h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* skill bar */
.bar {
    background: #ccc;
    height: 6px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bar div {
    height: 100%;
    background: #00cec9;
    border-radius: 5px;
}

/* RIGHT */
.right {
    width: 65%;
    background: #fff;
    padding: 30px;
}

.section {
    margin-bottom: 25px;
}

.section h2 {
    color: #0f3d3e;
    border-bottom: 2px solid #0f3d3e;
    padding-bottom: 5px;
}

ul {
    padding-left: 20px;
}